.contact-methods-grid {
  display: grid;
  /* 3 items wide on laptop width */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 960px /* var(--tablet-breakpoint) */) {
  .contact-methods-grid {
    /* 1 items wide on tablet width */
    grid-template-columns: repeat(1, 1fr);
  }
}
