.shot {
  width: 100%;
  height: 100%;
}

.designs-grid {
  display: grid;
  /* 3 items wide on tablet and laptop width */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 600px /* var(--mobile-breakpoint) */) {
  .designs-grid {
    /* 2 items wide on mobile width */
    grid-template-columns: repeat(2, 1fr);
  }
}
