*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Rubik', sans-serif;

  /*  Color scheme */
  --primary: #215481;
  --secondary: #808080;
  --whiteGray: #f7f7f7;

  /* Helper colors */
  --secondaryDark: #6d6d6d;
  --primaryLight: #4d769a;
  --hoverColor: rgba(0, 0, 0, 0.05);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--whiteGray);
}

main {
  padding: 2rem;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

code {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

p {
  font-size: large;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  padding-bottom: 3rem;
}

nav {
  background-color: var(--primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: var(--whiteGray);
  letter-spacing: 1px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  text-decoration: none;
}

.nav-item.active {
  background-color: var(--whiteGray);
  color: var(--primary);
  font-weight: bold;
}

.nav-item:not(.active):hover {
  background-color: var(--primaryLight);
}

.nav-text {
  margin-left: 8px;
}

/* Stack bio and picture vertically on small screens */
@media (max-width: 959px) {
  .nav-text {
    display: none;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondaryDark);
}

.page-header {
  font-size: 2.5em;
}

.svg-icon {
  width: 24px;
  height: 24px;
}

.icon-button {
  text-decoration: none;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button:hover {
  background-color: var(--hoverColor);
  text-decoration: none;
}

.header-icon-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.corner-logo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 120px;
}

/* Hide corner logo on smaller screens */
@media (max-width: 1279px) {
  .corner-logo {
    display: none;
  }
}
