*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Rubik', sans-serif;

  /*  Color scheme */
  --primary: #215481;
  --secondary: #808080;
  --whiteGray: #f7f7f7;

  /* Helper colors */
  --secondaryDark: #6d6d6d;
  --primaryLight: #4d769a;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--whiteGray);
}
