*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Rubik', sans-serif;
}

:root {
  /* Light mode colors */
  --primary: #215481;
  --secondary: #808080;
  --background: #eeeeee; /* Backgrounds like background of active nav item and page background */
  --surface: #ffffff; /* Surfaces like navbar and cards */
  --text: #000000; /* Color of paragraph text */
  --hover: rgba(0, 0, 0, 0.03);

  /* Breakpoints (can't be used in media queries though */
  --mobile-breakpoint: 600px;
  --tablet-breakpoint: 960px;
  --desktop-breakpoint: 1280px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colors */
    --primary: #ffffff;
    --secondary: #c3c3c3;
    --background: #222222;
    --surface: #373737;
    --text: var(--secondary);
    --hover: rgba(250, 250, 250, 0.04);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

main {
  padding: 2rem;
  width: 100%;
  max-width: var(--tablet-breakpoint); /* Content width maxes at tablet width */
  margin: 0 auto;
}

code {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
}

h1 {
  font-size: 2.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  color: var(--text);
  font-size: large;
}

a {
  color: var(--secondary);
}

a:hover {
  color: var(--primary);
}

section {
  padding-bottom: 3rem;
}

nav {
  background-color: var(--surface);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  fill: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon.small {
  width: 24px;
  height: 24px;
}

.icon.medium {
  width: 100px;
  height: 100px;
}

.icon.large {
  width: 200px;
  height: 200px;
}

.icon-button {
  position: relative; /* Needed for tooltip */
  text-decoration: none;
  padding: 16px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-button.square {
  border-radius: 0;
}

.icon-button:hover {
  background-color: var(--hover);
}

.icon-button:hover .icon {
  fill: var(--primary);
}

.nav-item {
  text-decoration: none;
  color: var(--secondary);
  letter-spacing: 1px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover .icon {
  fill: var(--primary);
}

.nav-item.active {
  background-color: var(--background);
  color: var(--primary);
  font-weight: bold;
  letter-spacing: 0.9px; /* Decreased spacing so that when it's bold it's about the same width as the other nav items */
}

.nav-item:not(.active):hover {
  background-color: var(--hover);
  color: var(--primary);
}

.nav-item.active .nav-icon {
  fill: var(--primary);
}

.nav-text {
  margin-left: 8px;
}

/* Don't show nav text on tablet and mobile, only nav icon */
@media (max-width: 960px /* var(--tablet-breakpoint) but can't use in media queries */) {
  .nav-text {
    display: none;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

.header-icon-container {
  display: flex;
  align-items: center;
}

.header-icon-container h1,
.header-icon-container h2 {
  margin-right: 16px;
}

.shadowed {
  box-shadow: 0 8px 8px var(--hover);
}

/* Hide shadows in dark mode (they just look weird) */
@media (prefers-color-scheme: dark) {
  .shadowed {
    box-shadow: none;
  }
}

.corner-logo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 120px;
}

/* Hide corner logo on tablet and mobile */
@media (max-width: 1280px /* var(--desktop-breakpoint) but can't use in media queries */) {
  .corner-logo {
    display: none;
  }
}

/* Show only light version of logo in light mode */
@media (prefers-color-scheme: light) {
  .corner-logo.dark {
    display: none;
  }
}

/* Show only dark version of logo in dark mode */
@media (prefers-color-scheme: dark) {
  .corner-logo.light {
    display: none;
  }
}

/* Tooltip appears above by default */
.tooltip {
  font-size: 0.9em;
  visibility: hidden;
  bottom: 105%;
  left: 50%;
  width: 280px;
  margin-left: -140px; /* Use half of the width to center the tooltip */
  background-color: var(--hover);
  color: var(--primary);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
}

.tooltip.small {
  width: 200px;
  margin-left: -100px; /* Use half of the width to center the tooltip */
}

.tooltip.bottom {
  top: 105%;
  bottom: auto;
}

/* Show the tooltip when you hover over an icon button (only on tablets and laptops) */
.icon-button:hover .tooltip {
  visibility: visible;
}

/* Hide tooltips on mobile devices (no space) */
@media (max-width: 600px /* var(--mobile-breakpoint) but can't use in media queries */) {
  .tooltip {
    display: none;
  }
}
