nav {
  background-color: var(--primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--whiteGray);
  letter-spacing: 1px;
  padding: 16px;
}

nav a:hover {
  text-decoration: none;
}

nav a.active {
  background-color: var(--whiteGray);
  color: var(--primary);
  font-weight: bold;
}

nav a:not(.active):hover {
  background-color: var(--primaryLight);
}
